<div class="clearfix space"></div>

<!-- page banner area starts -->
<section class="single-page-banner">
  <div class="container">
    <div class="row ">
      <div class="col-md-12">
        <div class="single-page">
          <div class="sinlge-page-text">
            <h1>About</h1>
            <ul>
              <li>
                <a href="index.html">Home /
                  <span>About us</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- page banner area ends -->

<!-- About area starts -->
<section class="about-area about-page section-big">
  <div class="container">
    <div class="row">

      <!--About content start -->
      <div class="col-md-6 col-xs-12">
        <div class="about-content">
          <div class="section-title bar-left mb-30">
            <h2>Welcome to Zaka</h2>
          </div>

          <p>For a long time African entrepreneurs, potential wealth creators, have operated in a hostile environment created by commercial banks, microfinance institutions and savings and credit cooperative organisations. Many small and medium-size
            enterprises (SMEs) are denied capital or subjected to credit at very high interest rates Zaka International is an online marketplace where African entrepreneurs and angel investors interact directly on deals that will favour of business growth and
            profit for both parties. The investors and entrepreneurs have the power to dictate terms and overcome the barriers to capital access. Our core business is to find, evaluate, rate, present growth-ready enterprises to access capital from a network of
            impact investors in the platform. We provide an ecosystem based on trust for ordinary professionals, business executives and entrepreneurs with savings and disposable income to invest directly in SMEs. Small businesses success is the most sustainable
            way to unlock Africa’s wealth and deliver the much needed development. Read more to understand how you can join the Zaka community and launch your way to unlocking the wealth of Africa.</p>

        </div>
      </div>
      <!--About content end -->

      <!-- About video -->
      <div class="col-md-6 col-xs-12">
        <div class="video-area">
          <div class="video-content text-center"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About area ends -->

<!-- fun-facts area starts -->
<section id="fun-facts" class="fun-facts-area section-small">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-md-3 text-center">
        <div class="fun-fact tab-margin-bottom">

          <p>Trust based</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <div class="fun-fact tab-margin-bottom">

          <p>Peer-to-Peer lending</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <div class="fun-fact">

          <p>Matrix of investors</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <div class="fun-fact">

          <p>Growth</p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- fun-facts area ends -->

<!-- company-growth area ends -->
<section class="company-growth pt85">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-xs-12">

        <img src="/images/bg/abt.jpg">

      </div>

      <div class="col-md-6">
        <div class="company-description">
          <div class="section-title bar-left mb-30">
            <h2>Time for change</h2>
          </div>

          <p>Banks ridden with heavy overheads dictate the terms and conditions for both borrowers and investors (savers) to sustain themselves and report high margins, all these to the detriment of the business community. The small businesses have been
            relegated to the periphery with no access to the much needed finance and support for growth. Commercial banking as we know it today will undergo disruption. There are clear trends that point to this direction; first, the technological explosion and
            growth of mobile money has already started changing commercial banking as was witnessed in Kenya with emergence of Mpesa. There are a lot more people who no longer see the need to visit a bank branch as long as their Mpesa is loaded. The second trend
            is the growth of big data and superior analytics that render the manual credit appraisal irrelevant. Thirdly, the change in demography with emergence of millennials who are no longer familiar with traditional commercial banks points to this
            disruption.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- company-growth area end -->

<!-- FAQ area starts -->
<section class="faq-area about-page pt85">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-xs-12">
        <div class="faq-right">
          <div class="faq-right-photo">
            <img src="/images/about/faq-img.jpg" alt="">
            <img src="/images/about/faq-img.jpg" alt="">
          </div>
          <div class="faq-right-text mb-30 mt-30">
            <h2>Our peer-to-peer business platform</h2>
            <p>There lacks investment opportunities for small–scale investors, even commercial banks do not pay interest of deposits falling below US$235. This leaves the poor locked out of both investments and access to finance. Zaka.co.ke will o er
              impact-investors and social investors an opportunity to invest short term, by accessing zaka.co.ke website and selecting a deal to invest in, either in part or in whole. Zaka is the micro-investment platform for small scale individuals (peers) and
              businesses who are excluded from investment opportunities owing to the small amounts of their funds they hold.
            </p>
          </div>
          <h2>Zaka Club</h2>
          <p>Zaka Club The purpose of this forum is to get to know businesses and their fouders in greater detail and to build a community that is glued by a shared code of conduct and trust. The club members experience:</p>
          <ul class="about-list mr-60">
            <li>
              <span>
                <i class="fa fa-check"></i>
              </span>Peer to peer mentorship.</li>
            <li>
              <span>
                <i class="fa fa-check"></i>
              </span>Business leadership training from consultants</li>
            <li>
              <span>
                <i class="fa fa-check"></i>
              </span>Know-your-customer (KYC) sessions.</li>
            <li>
              <span>
                <i class="fa fa-check"></i>
              </span>A plaform to learn best practices.</li>
            <br>
          </ul>

        </div>

      </div>
      <p>
        Entrepreneurs will access Zaka products and services by joining Zaka Business Club. This is a prerequisite to being registered in the Zaka.co.ke platform.</p><br>
    </div>

  </div>
</section>
<!-- FAQ area ends -->

<!-- Testimonial area starts -->
<section id="testimonial" class="testimonial-area section-big">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title white-title mb-50">
          <h2>Join the revolution</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="testimonial-list">

        <!-- Testimonial item -->
        <div class="single-testimonial ">
          <div class="testimonial-img">
            <img src="/images/testimonial/1.jpg" alt="">
            <div class="author-details">
              <h4>Our vision</h4>

            </div>
          </div>
          <p>Zaka International’s vision is to see growth oriented SME’s scale up to global corporate businesses and driving African economic growth rate to double-digits.
          </p>
        </div>

        <!-- Testimonial item -->
        <div class="single-testimonial ">
          <div class="testimonial-img">
            <img src="/images/testimonial/2.jpg" alt="">
            <div class="author-details">
              <h4>Our mission</h4>

            </div>
          </div>
          <p>Zaka International’s mission is to leverage the wealth of Africa to grow and scale Small and Medium sized Enterprises through access to growth resources.
          </p>
        </div>

        <!-- Testimonial item -->
        <div class="single-testimonial ">
          <div class="testimonial-img">
            <img src="/images/testimonial/3.jpg" alt="">
            <div class="author-details">
              <h4>Our opportunities</h4>

            </div>
          </div>
          <p>Zaka has ocean of opportunities. Register yourself now as a investor for maximum returns. We have transparent and efficient system.
          </p>
        </div>

      </div>
    </section>