<div class="clearfix space"></div>

<section class="single-page-banner">
  <!-- page banner area starts -->
  <div class="container">
    <div class="row ">
      <div class="col-md-12">
        <div class="sinlge-page-text">
          <h1>Contact us</h1>
          <ul>
            <li>
              <a href="index.html">Home /
                <span>Contact us</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- page banner area ends -->

<section class="contact-us-area section-big">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="contact-us-form">
          <h3>Send your message</h3>
          <div class="contact-form">

            <!-- Submition status -->
            <div id="form-messages"></div>

            <form id="ajax-contact" action="assets/mailer.php" method="post">
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group in_name">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group in_email">
                    <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group in_email">
                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone Number" required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group in_email">
                    <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject" required="required">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group in_message">
                    <textarea name="message" class="form-control" id="message" placeholder="Your Message" required="required"></textarea>
                  </div>
                  <div class="actions">
                    <input type="submit" value="Contact us" name="submit" id="submitButton" class="btn" title="Submit Your Message!">
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="company-info">
          <h3>Zaka</h3>
          <div class="row">
            <div class="col-md-6">
              <strong>Address</strong>
              <p>Nairobi
                <br>Karen -1230</p>
            </div>
            <div class="col-md-6">
              <strong>Phone</strong>
              <p>+254-722-940-878</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Email</strong>
              <p>info@zaka.co.ke</p>
            </div>
            <div class="col-md-6">
              <strong>Office time</strong>
              <p>Monday - Friday
                <br>Closed on Sunday</p>
            </div>
          </div>

          <div class="social-link">
            <a href="">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="">
              <i class="fa fa-pinterest-p"></i>
            </a>
            <a href="">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="callto-action section-small ">
  <!-- callto action starts -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="call-text">
          <h3>Contact with us for customer support</h3>
          <p>we are ready 24/7 hours to support.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="call-button">
          <a class="action-button btn" href="#">get support</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- callto action ends -->