<!-- Preloader starts -->

<div id="preloader"></div>

<!-- Latasha's NavBar -->

<div class="clearfix space"></div>

<!-- Slider area starts -->
<section id="slider">
  <div id="carousel-example-generic" class="carousel slide carousel-fade">

    <div class="carousel-inner" role="listbox">

      <!-- Item 1 -->
      <div class="item active slide1">
        <div class="caption-area">
          <div class="caption">
            <div class="container">
              <div class="caption-section">

                <h1>Zaka<br>
                  <span>is a peer-to-peer lending platform connecting impact investors to entrepreneurs</span></h1>
                <p class="margin-bottom-lg">Zaka platform upholds integrity and builds a trust relationship between investors and entrepreneurs thereby unlocking their wealth.</p>

                <div class="button-container col-12">
                  <div class="buttons margin-right-md">
                    <div class="btn-power btn1 m-0  btn-pup">
                      <span class="circle"></span>
                      <span class="text">
                        <a href="borrow.html">Borrow Money</a></span></div>
                  </div>

                  <div class="buttons ">
                    <div class="btn-power btn1 m-0">
                      <span class="circle"></span>
                      <span class="text">
                        <a href="regme.html">Lend Money</a></span></div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 2-->
      <div class="item slide2">
        <div class="caption-area">
          <div class="caption">
            <div class="container">
              <div class="caption-section">
                <h1>Join Zaka<br>
                  <span>today as an investor</span></h1>
                <p class="margin-bottom-lg">Support small entrepreneurs in their growth journey today sign up to Zaka.co.ke.</p>

                <div class="button-container col-12">
                  <div class="buttons margin-right-md">
                    <div class="btn-power btn1 m-0  btn-pup">
                      <span class="circle"></span>
                      <span class="text">
                        <a href="borrow.html">Borrow Money</a></span></div>
                  </div>

                  <div class="buttons ">
                    <div class="btn-power btn1 m-0">
                      <span class="circle"></span>
                      <span class="text">
                        <a href="regme.html">Lend Money</a></span></div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item slide3">
        <div class="caption-area">
          <div class="caption">
            <div class="container">
              <div class="caption-section">
                <h1>Grow with<br>
                  <span>Zaka</span></h1>
                <p>We offer entrepreneurs and investors a chance to grow by investing and by asking for an investment</p>

                <div class="button-container col-12">
                  <div class="buttons margin-right-md">
                    <div class="btn-power btn1 m-0  btn-pup">
                      <span class="circle"></span>
                      <span class="text">
                        <a href="borrow.html">Borrow Money</a></span></div>
                  </div>

                  <div class="buttons ">
                    <div class="btn-power btn1 m-0">
                      <span class="circle"></span>
                      <span class="text">
                        <a href="regme.html">Lend Money</a></span></div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

  </div>
</section>
<!-- Slider area ends -->

<!-- about us section-->
<section class="about-us container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-12 about-text">
        <h2 class="text-capitalize">What is Zaka?</h2>
        <div class="underline"></div>
        <p>Zaka is a platform that is based on trust and aims to build a trustworthy relationship between entrepreneurs & investors</p>
        <div class="margin-top-lg">
          <div>
            <a class="effect1" href="<%= url_for about_us_path %>">
              Read More
              <span class="bg"></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-7 col-md-7 d-none">
        <div class="about-img">
          <img src="/images/getting-money.png">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about us section-->

<!-- Service area starts -->
<section class="service-area section-big">
  <div class="container">

    <div class="row d-none">
      <div class="col-md-12 text-center">
        <div class="section-title no-bottom-bar title-width">
          <h2>Zaka is a platform that is based on trust and aims to build
            <span></span>
            a trustworthy relationship between entrepreneurs & investors</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-service">
          <div class="featured-photo">
            <a href="regme.html"><img src="/images/about/about1.jpg" alt=""></a>
            <div class="overlay">
              <a href="regme.html">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="description">
            <h2>
              <a href="regme.html">Lend</a>
            </h2>
            <h3>View the opportunities</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-service">
          <div class="featured-photo">
            <a href="<%= url_for about_us_path %>"><img src="/images/about/about2.jpg" alt=""></a>
            <div class="overlay">
              <a href="regme.html">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="description">
            <h2>
              <a href="regme.html">Know more</a>
            </h2>
            <h3>Become a member</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-service">
          <div class="featured-photo">
            <a href="borrow.html"><img src="/images/about/about3.jpg" alt=""></a>
            <div class="overlay">
              <a href="regme.html">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="description">
            <h2>
              <a href="borrow.html">Borrow</a>
            </h2>
            <h3>Request some capital</h3>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<section id="testimonial" class="testimonial-area section-big">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title white-title mb-50">
          <h2>Join the revolution</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="testimonial-list">

        <!-- Testimonial item -->
        <div class="single-testimonial ">
          <div class="testimonial-img">
            <img src="/images/testimonial/1.jpg" alt="">
            <div class="author-details">
              <h4>Our vision</h4>

            </div>
          </div>
          <p>Zaka International’s vision is to see growth oriented SME’s scale up to global corporate businesses and driving African economic growth rate to double-digits.
          </p>
        </div>

        <!-- Testimonial item -->
        <div class="single-testimonial ">
          <div class="testimonial-img">
            <img src="/images/testimonial/2.jpg" alt="">
            <div class="author-details">
              <h4>Our mission</h4>

            </div>
          </div>
          <p>Zaka International’s mission is to leverage the wealth of Africa to grow and scale Small and Medium sized Enterprises through access to growth resources.
          </p>
        </div>

        <!-- Testimonial item -->
        <div class="single-testimonial ">
          <div class="testimonial-img">
            <img src="/images/testimonial/3.jpg" alt="">
            <div class="author-details">
              <h4>Our opportunities</h4>

            </div>
          </div>
          <p>Zaka has ocean of opportunities. Register yourself now as a investor for maximum returns. We have transparent and efficient system.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial area ends -->