/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --primary: #4d1166;
  --secondary: #ffc50c;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  min-height: 88.5vh;
  position: relative;
  background: rgba(77, 17, 102, 0.29);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

nav.navbar {
  background: var(--primary);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 10%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-logo img {
  height: 50px;
}

ul.nav-links {
  display: flex;
  list-style: none;
  position: relative;
}

.nav-links li {
  padding: 0 0.5em;
}

.nav-links li a {
  transition: 0.5s;
}

.nav-links li a:hover {
  color: var(--secondary);
}

main {
  min-height:
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--secondary);
  text-align: center;
  padding: 0.5em;
}

footer p {
  margin: 0;
}

.content {
  padding: 2em;
  margin: 7em 10% 2em;
  display: flex;
  flex-direction: column;
  background: white;
}

.content-center {
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2em;
}

input {
  border: 0;
  border-bottom: 1px solid black;
  margin: 1em 0;
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

input[type="submit"], button {
  background: var(--secondary);
  border: 1px solid black;
  width: auto;
  padding: 0.5em 2em;
  align-self: flex-end;
}

button.danger {
  background: red;
}

.link-btn {
  width: auto;
  padding: 0.5em 1em;
  transition: 0.5s;
}

.link-btn:hover {
  background: none;
}

.btn-yellow {
  background: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--primary);
}

.btn-purple {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--secondary);
}

.btn-yellow:hover {
  color: var(--secondary);
}

.btn-purple:hover {
  color: var(--primary);
}

.link-btn:focus {
  background: #42294c;
  border-color: var(--primary);
  color: var(--secondary);
}